$color1: rgb(176, 11, 92);  
$color1: #B00B5C;
$amarillo: #d7db4c;
$color_celeste_approx: $color1;
$white: #ffffff;
$black_40: rgba(0, 0, 0, 0.4);
$gris: #f1f1f1;
$black: #000000;
$black_20: rgba(0,0,0,0.2);
$color_desert_storm_approx: #f8f8f8;
$color2: $color1;
$color4: $amarillo;
$color5: rgb(192, 198, 52);
$color5: #c0c634;
$color6: #F2F3D4;
$color5: rgba(192, 198, 52, 0.2);
$link_menu: #000;
$menu_active: $color1;
$color1: rgba(176, 11, 92, 0.5) ;  

#B00B5C
fucsia rgb(176, 11, 92);  
lima  251, 219, 76

986dbd
986dbd