/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.affix img.logo{
  height: 50px;
}

.social li {
  list-style-type: none;
}

.agenda {
  padding-bottom: 40px;
}
.agenda .hora {
  text-align: right;
}

.hora svg {
  color: rgb(176, 11, 92);
}


.navbar-nav {
  margin-top: 53px;
}

.affix .navbar-nav{
  margin-top: 0px;
}

.navbar a {
  text-decoration: None !important;
}

.lema {
  text-align: center; 
  valign: bottom; 
  margin-top: 30px; 
  margin-left: 260px;
  font-size: 36px;
  color: rgb(176, 11, 92);
}

.affix .lema{
  display: none;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar {
    min-height: 86px;
  }
}

.patrocinadores {
  text-align: center;
}
/* Fotos background */
.bar.background-image-fixed-33 {
  background: url("../img/carousel/mayusculas_thin.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.bar.background-image-fixed-3 {
  background-image: url("../img/carousel/mayusculas_thin.jpg");
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  overflow: hidden;
}


.bar.background-puente {
  background: url("../img/carousel/puente.jpg") no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px 0;
  margin-bottom: 0px;
  background-position: center;
}
.lema2 {
  font-size: 26px;
}

.box-simple .icon {
  font-size: 40px;
}

.bar1 {
  padding-bottom: 100px;
}

.bar2 {
  padding: 30px 0;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.box-simple {
  text-align: center;
  min-height: 140px;
}

.bar.background-puente li{
  font-size: 18px;
  color: black;
  margin-bottom: 1em;
}    

.datos {
  border-width: 0px 0px 3px 0px;
  border-style: solid;
  border-color: rgb(176, 11, 92);
}