{{ if isset .Site.Params "carousel" }}
{{ if .Site.Params.carousel.enable }}
{{ if gt (len .Site.Data.carousel) 0 }}

<section>
        <div class="visible-xs text-center">
            <h3 class="fucsia">{{ .Site.Params.titulo  }}</h3>
        </div>

        <div class="home-carousel">
                <div class="dark-mask"></div>
        
        <div class="homepage owl-carousel owl-theme">
                {{ range sort .Site.Data.carousel "weight" }}
                <div class="item">
                    <div class="row">
                        <div class="col-sm-12">
                            {{ if isset . "video"  }}
                            
                            {{ else }}

                            <div class="owl-text-overlay">
                            {{ if isset . "title" }}
                            <h3 class="owl-title text-uppercase  hidden-xs"> {{ .title }} </h3>
                            <br>
                            {{ end }}
                            {{ if isset . "description" }}
                            {{ .description | safeHTML }}
                            {{ end }}
                            </div>
                            {{ if isset . "image" }}
                            <img class="img-responsive" src="../img/carousel/{{ .image }}" alt="">
                            {{ end }}
                        
                            {{end}}

                        </div>
                    </div>
                </div>
                {{ end }}
         
            </div>
            </div>

</section>
{{ end }}
{{ end }}
{{ end }}
