<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {{ .Content }}

            </div>
            <div class="col-md-5">
                <ul class="owl-carousel generico">
                    {{ range .Params.fotos }}
                    <li class="item" title="foto ">
                        <img src="/img/{{ . }}" alt="foto carrusel" class="img-responsive" />
                    </li>
                    {{ end }}
                </ul>

            </div>

        </div>

    </div>
</section>