<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#efefef",
      "text": "#404040"
    },
    "button": {
      "background": "#B00B5C",
      "text": "#ffffff"
    }
  },
  "theme": "edgeless",
  "content": {
    "message": '{{ i18n "mensajecookies" }}',
    "dismiss": '{{ i18n "aceptar" }}',
    "deny": '{{ i18n "rechazar" }}',
    "link": '{{ i18n "masinfo" }}',
    "href": "/cookies"
  },
  "showLink": false
})});
</script>
