<section class="bar bar1 background-image-fixed-3 no-mb color-white text-center">
    <!-- <div class="dark-mask"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="icon icon-lg"><i class="{{ .Site.Params.see_more.icon }}"></i>
                </div>
            -->
                <h3 class="lema2 text-uppercase">{{ .Site.Params.lema }}</h3>
                <p class="lead">{{ .Site.Params.fecha }} </p>
                <p class="lead">{{ .Site.Params.lugar }} </p>
            </div>

        </div>
    </div>
</section>
