<section class="">
    <div class="container">
            <div class="col-md-12">

                <div class="text-justify presentacion">
                        <div class="col-md-6 col-md-push-6  videoinnova center-block">
                                
                                <img src="/img/Congreso.gif" class="img-responsive">
                                
                                {{ partial "videoinnova.html" .}}
                        </div>
                        <div class="col-md-6  col-md-pull-6 col-xs-12 ">

                    {{ .Content }}
                    </div>
                </div>
                

            </div>

    </div>
</section>